<html>
<head>
  <style>
  * {
    font-family: monospace;
  }
  td {
    padding-right: 1em;
    padding-left: 1em;
  }
  </style>
</head>

<body>
{% block body %}
  <div style='float: right; border: 1px solid black; padding: 1em;'>
  Upload a wifi packet capture!<p>

  <form action="{{upload_url}}" method="POST" enctype="multipart/form-data">
    <input name="capfile" type="file" />
    <input type="submit" value="Upload" />
  </form>
  </div>

  Recent uploads:<ul>
    {% for r in recents %}
      <li>{{r.create_time.strftime('%Y-%m-%d')}}
          {{r.create_user_email or ''}}
          <a href="/view/{{r.key.id()}}">{{r.filename}}</a></li>
    {% end %}
  </ul>
{% end %}
</body>
</html>
