{% extends 'index.html' %}

{% block body %}
  <a href='/'>&larr; Index</a><p>
 
  Filename: <a href="/download/{{blob.key()}}/{{blob.filename}}"
    >{{blob.filename}}</a><br>
  Uploaded by: {{obj.create_user_email}} at {{obj.create_time}}<br>
  Size: {{'%.2f' % (blob.size/1e6)}} Mbytes<p>

  <form action="/save/{{blob.key()}}" method="POST">

  <div style='padding: 1em'>
    {% for k in avail_fields %}
    <input type='checkbox' name='key-{{k}}' id='key-{{k}}' value='{{k}}'
       {{'checked' if show_fields.get(k) else ''}}
    ><label for='key-{{k}}'>{{k}}</label></input>
    {% end %}
  </div>

  <table>
    <tr>
      <th>Pkts</th>
      <th>MAC Addr</th>
      <th>Alias</th>
    </tr>
    {% for b, n in boxes %}
    <tr>
      <td>{{n}}</td>
      <td>{{b}}</td>
      <td><input name='name-{{b}}' value='{{aliases.get(b, "")}}' /></td>
    </tr>
    {% end %}
    <tr>
      <td>{{other}}</td>
      <td>(other)</td>
      <td></td>
    </tr>
  </table>
  <div style='padding: 1em'>
  <input type='checkbox' name='include-acks' id='include-acks'>
  <label for='include-acks'>Include 1D ACKs?</label>
  </input>
  </div>
  <input type='checkbox' name='update-cache' id='update-cache'>
    <label for='update-cache'>Update cache</label>
  </input>
  <br>
  <input type='submit' value='Save and View' />
  </form>
{% end %}
