    .legend {
      fill: gray;
      font-size: 14px;
      text-anchor: left;
    }

    .selected_partialMatch_upstream {
     fill: #ffcc6e;
    }

    .selected_partialMatch_downstream {
      font-weight: bold;
      fill: #78a8eb;
    }

    .selected_upstream {
      font-weight: bold;
      fill: #e08900;
    }

    circle.selected_upstream {
      stroke: #e08900;
      stroke-width: 2px;
    }


    .selected_downstream {
      font-weight: bold;
      fill: #0D6AEB;
    }

    circle.selected_downstream {
      stroke: #0D6AEB;
      stroke-width: 2px;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: black;
      stroke-width: 1px;
      shape-rendering: crispEdges;  
    }

    .axis text {
      font-family: sans-serif;
      font-size: 11px;
    }

    .text-label {
      font-family: sans-serif;
      font-size: 18px;
    }

    .focus {
      opacity: 1;
      stroke: #185195;
    }

    .focus line {
      stroke-width: 1px;
    }

    .focus circle {
      fill: none;
      stroke-width: 2px;
    }

    .focus text {
      font-family: sans-serif;
      font-size: 20px;
      fill: #185195;
    }

    #tooltip {
      position: absolute;
      width: 170px;
      height: auto;
      padding: 5px 10px;
      right: 10px;
      font-weight: 500;
      background-color: rgba(250, 250, 250, 0.9);
      -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
      -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
      pointer-events: none;
    }

    #tooltip text {
      margin: 0;
      font-size: 12px;
    }

    .hidden {
      display: none;
    }

    .brush .extent {
      stroke: #fff;
      fill-opacity: .125;
      shape-rendering: crispEdges;  
    }

    .histBar {
      fill: #141414;
      stroke: none;
    }

    .background_box {
      stroke: none;
      fill: #FFf7ff;
    }

    .percent_area {
      stroke: none;
      fill: #291C5E;
    }

    .percent_area_chart_boolean_retry {
      stroke: black;
      fill: none;
    }

    .percent_area_chart_boolean_bad {
      stroke: green;
      fill: none;
    }

    .bad {
      fill: #890000;
      stroke: #890000;
    }
